/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  padding-top: 92px;
  padding-bottom: 100px;
}

.header-menu {
  display: flex;
  width: 400px;
  height: 22px;
  flex-wrap: wrap;
  gap: 13px;
  list-style: circle;
  margin-left: 47px;
}

.header-menu-item {
  margin-right: 17px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.no-underline {
  text-decoration: none;
  list-style: none;
}

.header-logo {
  width: 140px;
  height: 100px;
}

.address {
  justify-self: flex-end;
  max-width: 240px;
  text-underline-offset: 5px;
  margin-right: 47px;
  font-style: normal;
  font-size: 18px;
}

/* first section */

.cover {
  color: white;
  text-transform: uppercase;
  width: 1100px;
  height: 757px;
  position: relative;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  opacity: 0.999;
  z-index: -1;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 0;
}

.cover-title {
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  opacity: 0.999;
  z-index: 2;
  height: 385;
  padding: 165px 50px 106px 50px;
}

.title-text {
  display: flex;
  padding-bottom: 18px;
}

.center {
  justify-content: center;
  margin-left: 40px;
}

.right {
  justify-content: end;
  margin-right: -35px;
}

.description {
  font-size: 22px;
  display: grid;
  grid-template-columns: 3fr 256px;
  align-items: center;
  gap: 40px;
  z-index: 3;
  padding-left: 50px;
  margin-top: -20px;
}

.description-text {
  word-spacing: 19px;
  z-index: 3;
}

.description-bet-button {
  display: flex;
  border: 1px solid white;
  z-index: 3;
  margin-left: -50px;
  width: 256px;
}

.bet-button {
  font-family: Raleway, sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  margin: 0;
  text-align: inherit;
  font: inherit;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  opacity: 0.999;
  z-index: 3;
}

/* second section */

.lots {
  margin: 179px 24px auto 24px;
}

.lots-heading {
  font-size: 40px;
  text-transform: uppercase;
  width: 121px;
  height: 47px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots-card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots-card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-link {
  height: 100%;
  z-index: 1;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card-text {
  position: relative;
  font-size: 20px;
  z-index: 1;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card-film {
  background-image: url(/images/card-lot-01.jpg);
}

.card-book {
  background-image: url(/images/card-lot-02.jpg);
}

.card-pic {
  background-image: url(/images/card-lot-03.jpg);
}

.lots-link-more {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 20px;
  display: block;
  margin-top: 30px;
  margin-left: 40px;
}

/* third section */

.about {
  margin: 120px 24px auto 24px;
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 240px auto;
  grid-template-areas: 
  'logo title'
  '. text';
  column-gap: 25px;
  row-gap: 4px;
}

.row-logo {
  grid-area: logo;
}

.about-logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-logo-image {
  width: 148px;
  height: 114px;
} 

.row-title {
  grid-area: title;
  display: flex;
  align-items: center;
}

.about-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.row-text {
  grid-area: text;
  
}

.about-text {
  font-size: 20px;
}

.upper-text {
  margin-bottom: 27px;
  margin-right: 5px;
}
/* footer */

.footer {
  margin-top: 185px;
  margin-bottom: 50px;
  width: 1100px;
  height: 180px;
  display: grid;
  grid-template-columns: 320px 164px 240px;
  column-gap: 150px;
}

.footer-address {
  margin-left: 50px;
}

.footer-menu-list {
  list-style: none;
  text-underline-offset: 5px;
  text-align: center;
  font-size: 18px;
}

.underline {
  text-decoration: underline;
}

.footer-social-list {
  padding-left: 25px;
  display: flex;
  gap: 48px;
}

.footer-social-icon {
  width: 48px;
  height: 48px;
}